Connected Services/ServiceReference1/CourseService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:44343/CourseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFLearningManagementSystem" />
  <xs:import schemaLocation="https://localhost:44343/CourseService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetCourses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CourseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFLearningManagementSystem" minOccurs="0" name="GetCoursesResult" nillable="true" type="q1:Crse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstructorCourses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flag" type="xs:int" />
        <xs:element minOccurs="0" name="CourseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstructorCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFLearningManagementSystem" minOccurs="0" name="GetInstructorCoursesResult" nillable="true" type="q2:InstrCrse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstructorCourseModuleDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flag" type="xs:int" />
        <xs:element minOccurs="0" name="InstructorID" type="xs:int" />
        <xs:element minOccurs="0" name="CourseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstructorCourseModuleDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFLearningManagementSystem" minOccurs="0" name="GetInstructorCourseModuleDetailsResult" nillable="true" type="q3:InstrCrseMdle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCourseTrainee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TraineeID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCourseTraineeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFLearningManagementSystem" minOccurs="0" name="SelectCourseTraineeResult" nillable="true" type="q4:TraineeCrse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectModuleTrainee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CourseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectModuleTraineeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFLearningManagementSystem" minOccurs="0" name="SelectModuleTraineeResult" nillable="true" type="q5:TraineeMdl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTraineeDashboardDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TraineeID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTraineeDashboardDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFLearningManagementSystem" minOccurs="0" name="SelectTraineeDashboardDetailsResult" nillable="true" type="q6:TraineeCrseStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAssignment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFLearningManagementSystem" minOccurs="0" name="_Asgmt" nillable="true" type="q7:Assignment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertAssignmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertAssignmentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAssignment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flag" type="xs:int" />
        <xs:element minOccurs="0" name="AssignmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAssignmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFLearningManagementSystem" minOccurs="0" name="SelectAssignmentResult" nillable="true" type="q8:Assignment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTraineeCourseLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TraineeID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTraineeCourseLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFLearningManagementSystem" minOccurs="0" name="SelectTraineeCourseLinkResult" nillable="true" type="q9:TraineeCrseLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSurveyQuestions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSurveyQuestionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFLearningManagementSystem" minOccurs="0" name="SelectSurveyQuestionsResult" nillable="true" type="q10:TraineeSurveyLink" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Download">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="file" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/Message" name="DownloadResult" type="q11:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Upload">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/Message" name="input" type="q12:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetValueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>